@import url('https://fonts.googleapis.com/css2?family=Antic&family=Antic+Didone&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-tether-green {
    color: #044D57;
}

.bg-tether-green {
    background: #044D57;
}

.bg-tether-green:hover {
    background: #033C46;
}
