@import url('https://fonts.googleapis.com/css2?family=Antic&family=Antic+Didone&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-lydian-green {
    color: #044D57;
}

.bg-lydian-green {
    background: #044D57;
}

.bg-lydian-green:hover {
    background: #033C46;
}

.bg-lydian-light-green {
    background: #009393;
}

.bg-lydian-light-green:hover {
    background: #008282;
}
